@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');

body {
    font-family: 'Fredoka', sans-serif;
}

body,
h1,
h5 {
    text-align: center;
}

h5 {
    padding-bottom: 2rem;
}

.nav-wrapper {
    background-color: #2596be;
}

.hr-heading {
    margin-bottom: 5em;
    border-top: 2px solid #2596be;
}

.section-break {
    margin: 3em 0 3em 0;
    border-top: 3px solid #2596be;
}

.table-main,
.table-main th,
.table-main td {
    border: 2px solid #2596be;
}

.page-footer {
    background-color: #2596be !important;
}

i {
    margin: 0 3rem;
}

@media (min-width:320px) {
    /* smartphones, iPhone, portrait 480x320 phones */
}

@media (min-width:481px) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}

@media (min-width:641px) {

    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}

@media (min-width:961px) {

    /* tablet, landscape iPad, lo-res laptops ands desktops */

}

@media (min-width:1025px) {

    /* big landscape tablets, laptops, and desktops */
}

@media (min-width:1281px) {

    /* hi-res laptops and desktops */

}